<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged In</title>
</head>
<body>
<!--Specify which user is logged in from the django project-->
    Log In Successful, you are now logged in as {{ user.username }}

<!--Output the lesson list-->
    <br>
    <button id="view_lessons">View Lessons</button>
    <button id="hide_lessons" style="display: none">Hide Lessons</button>
    <script>
        document.getElementById("view_lessons").onclick = function() {
            document.getElementById("lessons").style.display = "block";
            document.getElementById("view_lessons").style.display = "none";
            document.getElementById("hide_lessons").style.display = "block";
        };
        document.getElementById("hide_lessons").onclick = function() {
            document.getElementById("lessons").style.display = "none";
            document.getElementById("view_lessons").style.display = "block";
            document.getElementById("hide_lessons").style.display = "none";
        };
    </script>
    <div id="lessons" style="display: none">
        <h1>Lessons</h1>
        <ul>
            {% for lesson in lesson_list %}
                <li>{{ lesson }}</li>
            {% endfor %}
        </ul>
    </div>
<!--Add a button to make a booking request-->
    <form action = "{% url 'request_booking' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Request booking">
    </form>
<!--Add a button to logout the user-->
    <form action="{% url 'log_out' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
</body>
</html>