<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged In</title>
</head>
<body>
<!--Specify which user is logged in from the django project-->
    Log In Successful, you are now logged in as {{ user.username }}

<!--Output the lesson list-->
    <h1>Lessons</h1>
    <ul>
        {% for lesson in lesson_list %}
            <li>{{ lesson }}</li>
        {% endfor %}
    </ul>

<!--Add a button to logout the user-->
    <form action="{% url 'log_out' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
</body>
</html>